$mobile : 'only screen and (max-width: 767px)'
$tablette : 'only screen and (max-width: 991px)'
$desktop : 'only screen and (min-width: 992px)'

$font-family-name: Poppins
$poppins : Poppins

$font-url-regular : '/assets/fonts/Poppins-Regular.ttf'
$font-url-medium : '/assets/fonts/Poppins-Medium.ttf'
$font-url-semi-bold : '/assets/fonts/Poppins-SemiBold.ttf'
$font-url-bold : '/assets/fonts/Poppins-Bold.ttf'
